/* open-sans-regular - greek-ext_cyrillic-ext_latin_vietnamese_greek_cyrillic_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/open-sans-v13-greek-ext_cyrillic-ext_latin_vietnamese_greek_cyrillic_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
		url('./fonts/open-sans-v13-greek-ext_cyrillic-ext_latin_vietnamese_greek_cyrillic_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('./fonts/open-sans-v13-greek-ext_cyrillic-ext_latin_vietnamese_greek_cyrillic_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/open-sans-v13-greek-ext_cyrillic-ext_latin_vietnamese_greek_cyrillic_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
		url('./fonts/open-sans-v13-greek-ext_cyrillic-ext_latin_vietnamese_greek_cyrillic_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/open-sans-v13-greek-ext_cyrillic-ext_latin_vietnamese_greek_cyrillic_latin-ext-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

// Bootstrap
@import "~bootstrap/less/bootstrap";

// Font-Awesome
@import "~font-awesome/less/font-awesome";

@import (inline) "~ladda/dist/ladda-themeless.min.css";

// Theme
@import "./theme/pace.less";
@import "./theme/variables.less";
@import "./theme/mixins.less";
@import "./theme/labels.less";
@import "./theme/flex.less";
@import "./theme/tableOverrides.less";
@import "./theme/base.less";
@import "./theme/sidebar.less";
@import "./theme/buttons.less";
@import "./theme/richEditor.less";
@import "./theme/react-select.less";
@import "../components/Base/Header/style.less";
@import "../components/Base/Header/FavoritesSwitcher/style.less";
@import "../components/Base/LoadingOverlay/style.less";
@import "../components/Base/Spinners/style.less";
@import "../components/Connect/Content/style.less";
@import "../components/Main/Content/Confirmation/style.less";
@import "../components/Main/Content/Content/style.less";
@import "../components/Main/Content/FilterBar/style.less";
@import "../components/Main/Content/Footer/style.less";
@import "../components/Main/Content/Modals/style.less";
@import "../components/Main/Content/Modals/EditorModal/style.less";
@import "../components/Main/Content/Queries/style.less";
@import "../components/Main/Content/Structure/style.less";

