.sidebar-wrapper {
  z-index: 1000;
  height: 100%;
}


.sidebar {
  min-width: 210px;
  z-index: 21;
  height: 100%;
  max-width: 210px;
  max-height: calc(~"100vh - 130px");
  overflow: auto;
  background-color: @light-black;
  color: white;

  li {
    transition: background .3s, border .01s;
    cursor: pointer;
    white-space: nowrap;
    &:hover {
      background-color: @light-black;
      a {
        color: #fff;
      }
    }
  }

  li > a {
    color: #989898;
    text-decoration: none;
    font-weight: 100;
    & > i.fa {
      margin-right: 9px;
    }
    & > span {
      white-space: normal;
      word-wrap: break-word;
      word-break: break-all;
    }
  }

  li.active {
    border-left: 2px solid @navy;
    background-color: #2f2f2f;
    & > a {
      color: #fff;
      font-weight: 400;
    }
  }

  .sidebar-bottom-block {
    padding: 33px 18px;
    font: 400 12px / 35px Harmonia Sans;
  }
}

.sidebar.connect {
  max-height: 100%;
  z-index: 5;
}

.navbar-bottom-controls {
  position: absolute;
  height: @sidebar-bottom-control-height;
  width: @sidebar-width;
  border-top: 1px solid black;
  bottom: 0;
  background: @light-black;
  z-index: 121;
  & > .btn.btn-plain {
    color: @navy;
    background-color: transparent;
    white-space: nowrap;
    border: none;
    outline: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -55%, -50% );
  }
}

.navbar-bottom-search-word {
  position: absolute;
  padding: 5px 10px;
  color: @dark-gray;
  width: @sidebar-width;
  bottom: @sidebar-bottom-control-height;
  background: @light-black;
  z-index: 120;
  & > .filter-element {
    margin-left: 5px;
    display: inline-block;
    width: 90%;
  }
}
